.pokemon-evolution-container {
    padding-bottom: 1.5em;
    margin-bottom: 1em;
}
.title{
    margin-top: 1em;
}

.pokemon-container{
    margin-top: 1em;
    background-color: white;
    border-radius: 30px;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin-bottom: 1.5em;
}
.pokemon-container .pokemon-bottom {
    padding-bottom: 1em;
}
